/*COLORES:*/
:root{
    --color1: #e7e79d; /*Amarillo*/
    --color2: #c0d890; /*Verde*/
    --color3: #78a890; /*Azul*/
    --color4: #606078; /*Morado*/
    --color5: #d8a878; /*Color humilde*/
    --color6: #56566E; /*Morado oscuro*/
    --color7: #add8e6; /*Azul claro*/
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.contact-form {
    background-color: var(--color2);
    color: var(--color6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-group button {
    background-color: var(--color3);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}
#copy_email{
    color: var(--color3);
    font-weight: bold;
}