/*FONTS:*/
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*COLORES:*/
:root{
    --color1: #e7e79d; /*Amarillo*/
    --color2: #c0d890; /*Verde*/
    --color3: #78a890; /*Azul*/
    --color4: #606078; /*Morado*/
    --color5: #d8a878; /*Color humilde*/
    --color6: #56566E; /*Morado oscuro*/
}
#pseudo-header{
    display: block;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: var(--color2);
    z-index: 1000;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald",sans-serif;
    color: var(--color6);
}
.cover {
    height: 400px;
    background-image: url(https://cdn.glitch.global/4cd10c94-fc22-4246-8ce7-7089a8df5667/rsz_nikolai-chernichenko-4dlzzxyc8_k-unsplash.jpg?v=1679416992277);
}
header{
    display: none;
}
#cuerpo_pagina{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
main{
    flex: 1;
    vertical-align: top;
    margin: 60px 0px;
    display: inline-block;
    width: 82%;
}
main section{
    display: inline-block;
    width: 100%;
}

/*CONTENEDORES:*/
.photo_container{
    background-color: var(--color1);
    border-radius: 0px ;                        /*Provisional*/
    display: inline-block;
    margin: 10px 10px;
    transition: all 0.5s;

    box-shadow: 0px 0px 27px 7px rgba(0,0,0,0.62);
}
/*Animación*/
.photo_container:hover{
    transform: scale(1.5);
}
/*Parrafos*/
.photo_container p{
    margin: 2px 20px;

    font-weight: bold;
}
.photo_container p span{
    font-weight: 400;
}
/*Imágenes*/
.photo_container img{
    width: 200px;
}

/*ASIDE DE COMENTARIOS:*/
aside{
    flex: 0.2;
    margin-top: 50px;                   /*Cambiar por alto del header*/
    margin-bottom: 50px;                /*Cambiar por alto del footer*/
    background-color: lightblue;
}
aside p{
    margin-left: 20px;
    margin-right: 10px;
}