/*FONTS:*/
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*COLORES:*/
:root{
    --color1: #e7e79d; /*Amarillo*/
    --color2: #c0d890; /*Verde*/
    --color3: #78a890; /*Azul*/
    --color4: #606078; /*Morado*/
    --color5: #d8a878; /*Color humilde*/
    --color6: #56566E; /*Morado oscuro*/
    --color7: #add8e6; /*Azul claro*/
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald",sans-serif;
    color: var(--color6);
}

/*HEADER*/
nav{
    display: inline-block;
    padding: 0px 0px;
    margin: 0px;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: var(--color2);
    z-index: 1000;
    text-align: center;
}

nav a p, nav ul, nav ul li, nav ul li a{
    transition: all 0.5s;
    display: inline-block;
    margin: 0px 0px;
    text-decoration: none;
    color: var(--color6);
}
.nav-logo{
    margin-right: 300px;
    font-size: 22px;
    font-weight: bold;
}
nav ul {
    margin-top: 3px;
    margin-right: 700px;
    list-style-type: none;
}
 nav img{
    margin-top: 8px;
    height: 20px;
 }

nav a:not(.nav-logo) {
    margin: 0px 20px;
    height: 40px;
    font-size: 22px;
}

nav ul li:hover{
    background-color: var(--color7);
}

nav ul li:hover a{
    transform: scale(1.1);
    height: 35px;
}




/*CUERPO*/
#cuerpo_pagina{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
main{
    flex: 1;
    vertical-align: top;
    margin: 55px 0px;
    display: inline-block;
    width: 82%;
}
main section{
    display: inline-block;
    margin: 0 0 0 5%;
}

/*CONTENEDORES PRINCIPALES:*/
.photo_container{
    display: inline-block;
    position: relative;
    background-color: var(--color2);
    margin: 10px 10px;
    padding-bottom: 5px;
    transition: all 0.5s;
    box-shadow: 0px 0px 27px 7px rgba(0,0,0,0.40);
}
/*Animación*/
.photo_container:hover{
    transform: scale(1.15);
    z-index: 900;
}
/*Parrafos*/
.photo_container div{
    margin-right: 100px;
    margin-left: 20px;
    display: inline-block;
}
.photo_container div > p:not(.description){
    margin: 0px;
    font-weight: bold;
}
.photo_container div p:first-of-type{
    font-size: 24px;
}
.photo_container div p:nth-child(3){
    margin-bottom: 5px;
}
.photo_container div p span{
    font-weight: 400;
}
/*Imágenes*/
.photo_container img{
    display: block;
    width: 300px;
}
/*Iconos*/
.fa-solid{
    display: inline-block;
    color: var(--color6);
    transform: scale(1.5);
    position: absolute;
    bottom: 5%;
    right: 10%;
}
/*DESCRIPCIONES:*/
.description{
    display: none;
    margin: 0px;
    padding: 5px 5%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.40), 0px -5px 10px -5px rgba(0,0,0,0);
    background-color: var(--color1);
}
.photo_container:hover .description{
    display: block;
    position: absolute;
    width: 90%;
}

/*ASIDE DE COMENTARIOS:*/
aside{
    flex: 0.3;
    margin-top: 40px;                   /*Cambiar por alto del header*/
    margin-bottom: 20px;                /*Cambiar por alto del footer*/
    background-color: var(--color7);
    font-size: 20px;
}
aside p{
    margin-left: 20px;
    margin-right: 10px;
}
/*Formulario*/
#comentario_formulario{
    font-family: ;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1% 5%;
    background-color: var(--color2);
}

#comentario_formulario p{
    margin: 0px 0px 0px 3px;
}

#nombre{
    display: block;
    width: 50%;
    padding: 10px; 
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
}
#email{
    display: block;
    width: 95%; 
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
}
#pregunta{
    display: block;
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
}

#comentario_formulario button{
    display: block;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
}